@font-face {
	font-family: 'AlegreyaSans';
	src: url('static/fonts/alegreya-sans/alegreya-sans.woff') format('woff'), url('static/fonts/alegreya-sans/alegreya-sans.ttf') format('truetype'), url('static/fonts/alegreya-sans/alegreya-sans.svg') format('svg');
    font-style: italic;
    font-weight: 100;
}

