.buvos-kocka__start-message-wrapper
    .buvos-kocka__start-message.unselectable
        p
            | Управление: Клавиши #[span.key-span Q], #[span.key-span W], #[span.key-span E] для вращения кубика
        p
            | #[span.key-span Shift] + #[span.key-span Q], #[span.key-span W], #[span.key-span E] - Вращение в обратную сторону.
        p
            | #[span.key-span Мышь] для частичного поворота
        p
            | #[span.key-span Пробел] - чтобы начать