@font-face {
	font-family: 'Montserrat';
	src: url('static/fonts/montserrat/montserrat.woff') format('woff'), url('static/fonts/montserrat/montserrat.ttf') format('truetype'), url('static/fonts/montserrat/montserrat.svg') format('svg');
	font-style: italic;
}

