.buvos-kocka__header-wrapper
    .buvos-kocka__header
        include ../buvos-kocka__back-button/buvos-kocka__back-button.pug
        //- include ../buvos-kocka__pause-button/buvos-kocka__pause-button.pug
        include ../buvos-kocka__reset-button/buvos-kocka__reset-button.pug