@import "@static/fonts/gagalin/gagalin.scss";
@import "@static/fonts/montserrat/montserrat.scss";
@import "@static/fonts/alegreya-sans/alegreya-sans.scss";

@import "@blocks/content/content.scss";
@import "@blocks/buvos-kocka/buvos-kocka__timer/buvos-kocka__timer.scss";
@import "@blocks/buvos-kocka/buvos-kocka__header/buvos-kocka__header.scss";
@import "@blocks/buvos-kocka/buvos-kocka__back-button/buvos-kocka__back-button.scss";
@import "@blocks/buvos-kocka/buvos-kocka__reset-button/buvos-kocka__reset-button.scss";
@import "@blocks/buvos-kocka/buvos-kocka__start-message/buvos-kocka__start-message.scss";
@import "@blocks/key-span/key-span.scss";

body{
    margin: 0;
}

.introduction__background{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url('static/images/glass.png');
    opacity: 0.07;
    z-index: -100;
}

.introduction__content{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}